# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# see https://help.github.com/articles/about-codeowners/ for more information

# These owners will be the default owners for everything in the repo.
*       @{{ cookiecutter.github_username_or_organization }}
